---
import { db } from 'db/schema';
import MessageDisplay from './MessageDisplay.astro';
import AutomaticScroller from './AutomaticScroller.astro';
// import MessageInput from './MessageInput.astro';

const user = await db.query.user.findFirst();
const messages = await db.query.message.findMany();
---

<div class="flex w-full flex-col shadow-xl sm:w-[400px]">
  <h1 class="bg-slate-500 p-6 text-lg text-white">Messages</h1>
  <div class="grid border-x border-b border-gray-300">
    <AutomaticScroller
      class="grid h-80 content-start gap-4 overflow-auto border-b border-gray-300 p-4"
    >
      {
        messages.length === 0 && (
          <span class="text-center text-gray-500">No messages</span>
        )
      }
      {
        messages.map((message) => {
          return <MessageDisplay userId={user!.id} message={message} />;
        })
      }
    </AutomaticScroller>
    <!-- {user?.id && <MessageInput userId={user.id} />} -->
  </div>
</div>
